# Database
DATABASE_URI=mongodb+srv://domain/
DATABASE_CERT=`-----BEGIN CERTIFICATE-----
................................................................
-----END CERTIFICATE-----`
DATABASE_KEY=`-----BEGIN PRIVATE KEY-----
................................................................
-----END PRIVATE KEY-----`

# PayloadCMS
PAYLOAD_SECRET=0123456789ABCDEFabcdef-_
EMAIL_FROM_ADDRESS=user@example.com
EMAIL_FROM_NAME=Example
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=username@domain.com
EMAIL_AUTH=P@ssw0rd_123