@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;

	--background: #030712;
	--foreground: #F9FAFB;
	--card: #030712;
	--card-foreground: #F9FAFB;
	--popover: #030712;
	--popover-foreground: #F9FAFB;
	--primary: #F9FAFB;
	--primary-foreground: #111827;
	--secondary: #1F2937;
	--secondary-foreground: #F9FAFB;
	--muted: #1F2937;
	--muted-foreground: #9CA3AF;
	--accent: #1F2937;
	--accent-foreground: #F9FAFB;
	--destructive: #BF616A;
	--destructive-foreground: #F9FAFB;
	--border: #1F2937;
	--input: #1F2937;
	--ring: #D1D5DB;

	--radius: 0.5rem;
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}
