@supports (scroll-timeline: --scroll-timeline) {
	.scrollFader {
		--height: 2rem;
		--animation-start: 0rem;
		--animation-end: 1rem;
		--gradient-dark: transparent, theme(colors.fgDark / .75), theme(colors.fgDark);
		scroll-timeline: --scroll-timeline y;

		@media screen and (min-width: theme(screens.sm)) {
			&::before, &::after {
				@apply content-[''] absolute left-0 w-full opacity-0 pointer-events-none z-20;
				height: var(--height);
				animation-name: fadeIn;
				animation-timeline: --scroll-timeline;
				animation-fill-mode: both;
			}

			&::before {
				top: 0px;
				animation-range: var(--animation-start) var(--animation-end);
				background: linear-gradient(to top, var(--gradient-dark))
			}

			&::after {
				bottom: 0px;
				animation-direction: reverse;
				animation-range: calc(100% - var(--animation-end)) calc(100% - var(--animation-start));
				background: linear-gradient(to bottom, var(--gradient-dark));
			}
		}
	}
}

.sidebar {
	--height: 2rem;
	--animation-start: 0.5rem;
	--animation-end: 3rem;
	--gradient-dark: transparent, theme(colors.bgDark / .75), theme(colors.bgDark);
}

@keyframes fadeIn {
	from { opacity: 0 }
	to { opacity: 1 }
}
