.sidebar {
	--height: 2rem;
	--animation-start: 0.5rem;
	--animation-end: 3rem;
	--gradient-light: transparent, theme(colors.gray.100)BB, theme(colors.gray.100);
	--gradient-dark: transparent, theme(colors.gray.900)BB, theme(colors.gray.900);
	scroll-timeline: --scroll-timeline y;

	@media screen and (min-width: theme(screens.sm)) {
		&::before, &::after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: var(--height);
			opacity: 0;
			pointer-events: none;
			animation-name: fadeIn;
			animation-timeline: --scroll-timeline;
			animation-fill-mode: both;
		}

		&::before {
			top: 0;
			animation-range: var(--animation-start) var(--animation-end);
			background: linear-gradient(to top, var(--gradient-light))
		}

		&::after {
			bottom: 0;
			animation-direction: reverse;
			animation-range: calc(100% - var(--animation-end)) calc(100% - var(--animation-start));
			background: linear-gradient(to bottom, var(--gradient-light));
		}

		@media (prefers-color-scheme: dark) {
			&::before { background: linear-gradient(to top, var(--gradient-dark)) }
			&::after { background: linear-gradient(to bottom, var(--gradient-dark)) }
		}
	}
}

@keyframes fadeIn {
	from { opacity: 0 }
	to { opacity: 1 }
}
